@{
    ViewBag.Title = "About";
}
@section styles{
    <style>
        .well_add {
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
        }

        ul li {
            line-height: 30px;
            font-size: 1.2em;
        }
    </style>
}
<div style="padding:20px;">

    <h1 class="h1">关于</h1>
    <hr />
    <div class="well well_add">
        <ul>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 本项目采用<strong>Asp.net</strong>框架开发，使用<strong>MVC模式</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 前端框架使用<strong>easyUI</strong>、<strong>bootstrap</strong>以及<strong>jquery</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 图标及字体库使用<strong>Font Awesome</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 数据库数据操作框架使用<strong>Ef6</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 图表展示使用第三方库<strong>echart</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 图片上传功能使用第三方库<strong>webuploader</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 图片放大展示使用第三方库<strong>fancybox</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> Excel文件读取使用第三方库<strong>LinqToExcel</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> Word文件生成使用第三方库<strong>DocX</strong></li>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 简单消息推送系统使用库<strong>SignalR</strong></li>
        </ul>
    </div>

    <div class="well well_add">
        <ul>
            <li> <span class="fa fa-hand-o-right">&nbsp;&nbsp;</span> 本项目开发平台使用<strong>VS2015</strong>以及<strong>MySql</strong></li>
        </ul>
    </div>
</div>