@{
    ViewBag.Title = "Index";
}
@section styles{
    <style>
    </style>
}
<div style="padding:10px">
    <div id="toolbar" style="height:40px;">
        <input id="search" class="easyui-searchbox" data-options="searcher:searchInfo,prompt:'请输入标题',menu:'#searchMenu',width:300,height:30" />
        <div id="searchMenu">
            <div data-options="name:'-1'">全部</div>
            <div data-options="name:'1'">已读</div>
            <div data-options="name:'0'">未读</div>
        </div>

        <span class="datagrid-btn-separator" style="float:none;margin-left:5px;margin-right:5px"></span>
        <a id="Detail" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-info-circle" style="font-size:14px"></span><span style="font-size:12px">&nbsp;详情</span></a>
        <span class="datagrid-btn-separator" style="float:none;margin-left:5px;margin-right:5px"></span>
        <a id="Delete" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-trash-o" style="font-size:14px"></span><span style="font-size:12px">&nbsp;删除</span></a>

        <span class="datagrid-btn-separator" style="float:none;margin-left:5px;margin-right:5px"></span>
        <a id="allRead" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-envelope-open" style="font-size:14px"></span><span style="font-size:12px">&nbsp;一键已读</span></a>
        <span class="datagrid-btn-separator" style="float:none;margin-left:5px;margin-right:5px"></span>
        <a id="deleteRead" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-trash" style="font-size:14px"></span><span style="font-size:12px">&nbsp;删除已读</span></a>

        <span class="datagrid-btn-separator" style="float:none;margin-left:5px;margin-right:5px"></span>
    </div>
    <table id="noticeList" class="easyui-datagrid"></table>
</div>
<div id="modalwindow" class="easyui-window" data-options="closed:true,minimizable:false"></div>
@section scripts{
    <script src="~/MyScripts/noticeIndex.js"></script>
}