@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
    </style>
}

<div style="padding:10px;">
    <input type="hidden" id="level" value="@ViewBag.level" />
    <input type="hidden" id="readOnly" value="@ViewBag.readOnly" />
    <input type="hidden" id="id" value="@ViewBag.id" />

    @if (!ViewBag.readOnly)
    {
        <div id="toolbar" style="height:40px;">

            <span class="datagrid-btn-separator" style="float:none;margin-left:10px"></span>
            <a id="btnAppend" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-plus" style="font-size:14px"></span><span style="font-size:12px">&nbsp;添加</span></a>
            <span class="datagrid-btn-separator" style="float:none"></span>
            <a id="btnRemove" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-trash" style="font-size:14px"></span><span style="font-size:12px">&nbsp;删除</span></a>
            <span class="datagrid-btn-separator" style="float:none"></span>

            <a id="btnSave" class="l-btn clearBg" style="padding: 5px 8px;"><span class="fa fa-mail-forward" style="font-size:14px"></span><span style="font-size:12px">&nbsp;确定</span></a>
            <span class="datagrid-btn-separator" style="float:none"></span>
        </div>
    }
    <table id="orderDetailList" class="easyui-datagrid"></table>

    <div id="modalwindow" class="easyui-window" data-options="closed:true,minimizable:false"></div>
</div>

@section scripts{

<script src="~/MyScripts/quotationIndex.js"></script>
}